
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="bg-home">
    <div class="home">
        <a class="d-flex home-item" href="/Admin/ManageUser/DanhSachNguoiDung">
            <i class="fas fa-user-friends" style="font-size: 4rem; font-weight: 600; display: flex; align-items: center;"></i>
            <div style="margin-left:2rem">
                <h2>Quản lý người dùng</h2>
                <p style="font-size: 1.3rem;">Click vào đây để xem danh sách người dùng trên hệ thống và sử dụng các chức năng xóa, sửa thông tin người dùng.</p>
            </div>
        </a>
        <a class="d-flex home-item" href="#">
            <i class="fas fa-tasks" style="font-size: 4rem; font-weight: 600; display: flex; align-items: center;"></i>
            <div style="margin-left:2rem">
                <h2>Quản lý đấu giá</h2>
                <p style="font-size: 1.3rem;">Click vào đây để xem danh sách các sản phẩm được đăng đấu giá, theo dõi trạng thái, sửa thông tin các đấu giá.</p>
            </div>
        </a>
        <a class="d-flex home-item" href="/Admin/ManageAuctionType/DanhSachLoaiDauGia">
            <i class="fas fa-gavel" style="font-size: 4rem; font-weight: 600; display: flex; align-items: center;"></i>
            <div style="margin-left:2rem">
                <h2>Quản lý loại đấu giá</h2>
                <p style="font-size: 1.3rem;">Click vào đây để xem danh sách loại đấu giá trên hệ thống và sử dụng các chức năng xóa, sửa thông tin loại đấu giá.</p>
            </div>
        </a>
    </div>
</div>

