
@{
    ViewBag.Title = "NapTien";
}
@using eCommerce.Models;

<h2>NapTien</h2>
@*@using (Html.BeginForm("Payment", "Home", FormMethod.Post))
    {
        <input type="number" name="value" />
        <button type="submit">Nạp ngay</button>
    }*@

<head>

</head>

@section Scripts {
    
    

}