
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutSignIn.cshtml";
}

<section class="w3l-forms-23">
	<div class="forms23-block-hny">
		<div class="wrapper">
			<div class="d-grid forms23-grids">
				<div class="form23">
					<div class="main-bg">
						<h6 class="sec-one"></h6>
						<div class="speci-login first-look">
							<img src="images/user.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="bottom-content">
						<form action="#" method="post">
							<input type="email" name="email" class="input-form" placeholder="Email"
										 required="required" />
							<input type="password" name="password" class="input-form"
										 placeholder="Mật Khẩu" required="required" />
							<input type="password" name="password" class="input-form"
										 placeholder="Xác Nhận Mật Khẩu" required="required" />
							<button type="submit" class="loginhny-btn btn">Xác nhận tài khoản</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

