@{
    ViewBag.Title = "ConfirmPaymentClient";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";

}
<section class="footer-top">
    <div class="footer-box">
        <div class="footer-box-content">
            <h3 style="text-align:center">@TempData["Status"]</h3>
            <a href='@Url.Action("Home", "Home")' class="btn btn-reload btn-danger ml-3" style="color:black;font-weight:bold">OK</a>
        </div>
    </div>
</section>