
@{
  ViewBag.Title = "Nạp tiền";
  Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";

}
<section class="body-content">
  <section class="footer-top">
    <div class="footerBox">
      <div class="footerBox-content">
        <h3 style="text-align:center">NẠP TIỀN</h3>
        @using (Html.BeginForm("Payment", "Home", FormMethod.Post))
        {
          <input type="number" name="value" placeholder="Nhập số tiền muốn nạp" class="inputMoney" />
          <button type="submit" class="btn btn-naptien">Nạp ngay</button>
        }
      </div>
    </div>
  </section>
</section>


