
@{
  ViewBag.Title = "Rút tiền";
  Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";

}
<section class="body-content">
  <section class="footer-top">
    <div class="footerBox">
      <div class="footerBox-content">
        <h3 style="text-align:center">RÚT TIỀN</h3>
        @using (Html.BeginForm("RutTien", "Home", FormMethod.Post))
        {
          <input type="number" name="value" placeholder="Nhập số tiền muốn rút" class="inputMoney" />
          <button type="submit" class="btn btn-ruttien">Rút ngay</button>
        }
      </div>
    </div>
  </section>
</section>
