body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-size: 12px;
}

/* header */
header{
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  transition: background-color .5 ease;
  z-index: 1000;
}
.container{
  width: 120%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.nav {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255,255,255,.05);
  transition: height .5s ease;
}
.nav-link {
  color: white;
  font-size:1.5rem;
}
.nav-link:hover{
  color:white;
}

.flex-center {
  display: flex;
  align-items: center
}

.avatar-info {
  position: relative;
}

.dangXuat {
  top: 142%;
  left: -38%;
}

.dropdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.manage {
  position: relative;
  width: 200px;
  height: 60px;
  font-size: 1.5rem;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: white;
}

  .manage:focus, .notification:focus {
    outline: none;
  }

ul#menu-list {
  position: absolute;
  top:100%;
  margin: 0;
  padding: 0;
  width: 15%;
  background: #ccc;
  transform-origin: top;
  transform: perspective(100px) rotateX(-90deg);
  transition: .5s;
}

  ul#menu-list.active {
    transform: perspective(100px) rotateX(0deg);
    border: none;
    outline: none;
    z-index: 2;
  }

  ul#menu-list li {
    list-style: none;
  }

    ul#menu-list li a {
      display: block;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      background: #262626;
      color: #fff;
      border-bottom: 1px solid rgba(0,0,0,.2);
      transition: .5s;
    }

      ul#menu-list li a:hover {
        background: #2196f3;
      }

.fa-bell {
  position: relative;
}

.txt-notification {
  position: absolute;
  top: 15%;
}

.notification-box {
  position: relative;
}

.notification {
  position: relative;
  width: 60px;
  height: 60px;
  font-size: 1.3rem;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.notification-ul {
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 280px;
  background: #ccc;
  transform-origin: top;
  transform: perspective(100px) rotateX(-90deg);
  transition: .5s;
  right: -40%;
  box-shadow: 5px 5px 10px 5px #c8c4c46e;
}

  .notification-ul.active {
    transform: perspective(100px) rotateX(0deg);
    border: none;
    outline: none;
    z-index: 2;
    margin-top: 20px;
  }


  .notification-ul li a {
    display: flex;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    background: #ffffff;
    color: #009d4d;
    font-weight: 700;
    border-bottom: 1px solid rgba(0,0,0,.2);
    transition: .5s;
    align-items: center
  }

    .notification-ul li a:hover {
      background: #e1e2e3;
      border-radius: 15px;
    }

    .notification-ul li a img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px
    }

  .notification-ul .notification-time {
    margin-top: 5%
  }

.soDuVi {
  font-size: 2rem;
  color: white;
  margin-left: 2rem;
}
/*start hero*/
.hero {
  width: 100%;
  height: 105vh;
  background: url("../images/banner-bg-1-fixed.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.heroic {
  background: url("../images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 105vh;
}

.hero-content .banner-hero {
  width: 480px;
  height: 480px;
  position: absolute;
  top: 25%;
  right: 7%;
}
/* Make the image fully responsive */
#demo {
  width: 780px;
  height: 480px;
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 7%;
  border-radius: 10px;
  box-shadow: 0.487px 3.97px 81px 0px rgb(40 58 140 / 46%);
}

.carousel-inner img {
  width: 780px;
  height: 480px;
  border-radius: 10px;
}

.banner-shape {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 56%;
  left: 0;
}
/*end hero*/
/*Apply styles after scroll*/
.scrolling-active {
  background-color: #693ff5;
  box-shadow: 0 5px 1rem rgba(0,0,0,.1);
}
.scrolling-active .nav{
  height: 6.5rem;
}
/*Apply styles after scroll end*/
/*start body-layout*/
.body-layout {
  /*position: absolute;
  top: 15%;
  left: 0;*/
  width: 100%;
}
.form-auction {
  width: 50%;
  height: 250px;
  margin: auto;
  background: white;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 0.487px 3.97px 81px 0px rgb(40 58 140 / 46%);
}
.auction-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
}
.auction-item-2 {
  width: 27%;
  height: 530px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 5px #9cb9fb82;
  position: relative;
}
.auction-thumb {
    height: 54%;
}
.auction-thumb img {
  width: 95%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius:10px;
}
.rating, .rating:hover {
  color: #ff7800;
}
  .rating .fa-star {
    font-size: 20px;
    position: absolute;
    right: 10%;
    top: 6%;
  }
.bid .fa-gavel {
    transform: rotate( 270deg);
    position: absolute;
    text-align: center;
    top: 4%;
    left: 8%;
    font-size: 20px;
    font-weight: 600;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: -webkit-linear-gradient( 135deg, #b122e6 0%, #ff63de 100%);
}
.title a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin-left: 25px;
}
.bid-area {
  width: 90%;
  margin: auto;
}
.bid-amount {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  padding: 10px 0;
}
  .bid-amount .icon .fa-gavel {
    transform: rotate( 270deg);
    font-size: 35px;
    color: #2cbb44;
  }
  .bid-amount .icon .fa-dollar-sign {
    font-size: 35px;
    color: red;
  }
.amount-content .current {
  color: #43b055;
  font-size: 14px;
}
.amount-content .amount{
  font-size:20px;
}
.countdown-area {
  margin:10px;
  display: flex;
  justify-content: space-around;
}
  .countdown-area .countdown #bid_counter26 {
    font-size: 16px;
    text-shadow: 0px 5px 3px rgb(245 49 127 / 20%);
    color: #eb0082cc;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #eb0082cc;
  }
  .countdown-area .total-bids {
    color: #43b055;
    font-size:16px;
  }

.custom-button {
  background: -webkit-linear-gradient( 90deg, #3da9f5 0%, #683df5 100%);
  box-shadow: -1.04px 4.891px 20px 0px rgb(69 49 183 / 50%);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: 20px;
  display: inline-flex;
  width: 250px;
  height: 50px;
  margin-top: 3px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
  .custom-button:hover {
    text-decoration: none;
    color: white;
  }

/*end body layout*/
/*footer*/
footer {
  background-image: url(../images/footer-bg.jpg);
  width: 100%;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5rem;
  position:relative;
}
.footer-top{
  margin-bottom:30%;
  position:relative;
}
  .footer-top .footer-top-shape {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
  }
.footer-title h3 {
  text-align: center;
  font-size: 4rem;
  text-transform: capitalize;
  font-family: cursive;
  color: white;
}
.footer-title h5 {
  font-size: 1.7rem;
  text-align: center;
  text-transform: capitalize;
  color: white;
  letter-spacing: 1px;
  margin: 25px;
}
.bg-footer {
  background-image: url("../images/newslater.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 230px;
}
.footer-box {
  width: 1000px;
  height: 250px;
  background: white;
  border-radius: 30px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0.487px 3.97px 81px 0px rgb(40 58 140 / 46%);
}
.footer-box-content{
  margin-left:25%;
}
  .footer-box-content h3 {
    font-size: 2.5rem;
    margin-left: -35%;
    text-transform: capitalize;
    color: #5f4cc2;
    text-shadow: 0px 5px 3px rgb(214 63 252 / 47%);
  }
  .footer-box-content input {
    padding: 10px 87px 10px 20px;
    font-size: 1.5rem;
    width: 400px;
    border-radius: 30px;
    margin: 3% 0% -1% -22%;
    border: 1px solid grey;
  }
.dki-email {
  position: relative;
}
  .dki-email button {
    position: absolute;
    top: 23%;
    right: 32%;
    width: 145px;
    height: 51px;
    font-size: 1.5rem;
    border-radius: 30px;
    background: -webkit-linear-gradient( 90deg, #3da9f5 0%, #683df5 100%);
    box-shadow: -1.04px 4.891px 20px 0px rgb(69 49 183 / 50%);
    border: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom:10px;
}
  .footer-list button {
    border: none;
    font-size: 1.3rem;
    border-radius: 30px;
    width: 95px;
    height: 35px;
  }
.row {
  margin-left: 0;
  margin-right: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80%;
  margin: auto;
  padding: 15px;
  border-top: 1px solid #dba3ffd4;
  border-bottom: 1px solid #dba3ffd4;
}

.grid-item {
  padding: 20px;
}
.footer-body-item .footer-icon {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}
.footer-body-item .fa-facebook-square,
.footer-body-item .fa-instagram,
.footer-body-item .fa-twitter-square,
.footer-body-item .fa-dice-d6 {
  font-size: 4rem;
  color: white;
}
.footer-bottom p {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  color: #ffffff99;
  letter-spacing: 1px;
}
/*back to top*/
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  height: 53px;
  transition: all .5s ease;
}

  #myBtn:hover {
    background-color: #555;
  }

.rotate, .rotate1, .rotate2, .rotate3 {
  display: block;
  position: fixed;
  width: 30px;
  height: 30px;
  margin: -60px 0 0 -280px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
}

.rotate {
  opacity: .3;
  top: 0%;
  left: 35%;
}

.rotate1 {
  top: 110%;
  left: 15%;
}

.rotate2 {
  top: 100%;
  left: 30%;
}

.rotate3 {
  top: 35%;
  left: 60%;
  width: 30px;
  height: 30px;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
