body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-size: 12px;
}

/* header */
header{
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  transition: background-color .5 ease;
  z-index: 1000;
}
.container{
  width: 120%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.nav {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255,255,255,.05);
  transition: height .5s ease;
}
.nav-link {
  color: white;
  font-size:1.5rem;
}
.nav-link:hover{
  color:white;
}

.flex-center {
  display: flex;
  align-items: center
}

.avatar-info {
  position: relative;
}

.dangXuat {
  top: 142%;
  left: -38%;
}

.dropdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.manage {
  position: relative;
  width: 200px;
  height: 60px;
  font-size: 1.5rem;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: white;
}

  .manage:focus, .notification:focus {
    outline: none;
  }

ul#menu-list {
  position: absolute;
  top:100%;
  margin: 0;
  padding: 0;
  width: 15%;
  background: #ccc;
  transform-origin: top;
  transform: perspective(100px) rotateX(-90deg);
  transition: .5s;
}

  ul#menu-list.active {
    transform: perspective(100px) rotateX(0deg);
    border: none;
    outline: none;
    z-index: 2;
  }

  ul#menu-list li {
    list-style: none;
  }

    ul#menu-list li a {
      display: block;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      background: #262626;
      color: #fff;
      border-bottom: 1px solid rgba(0,0,0,.2);
      transition: .5s;
    }

      ul#menu-list li a:hover {
        background: #2196f3;
      }

.fa-bell {
  position: relative;
}

.txt-notification {
  position: absolute;
  top: 15%;
}

.notification-box {
  position: relative;
}

.notification {
  position: relative;
  width: 60px;
  height: 60px;
  font-size: 1.3rem;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.notification-ul {
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 280px;
  background: #ccc;
  transform-origin: top;
  transform: perspective(100px) rotateX(-90deg);
  transition: .5s;
  right: -40%;
  box-shadow: 5px 5px 10px 5px #c8c4c46e;
}

  .notification-ul.active {
    transform: perspective(100px) rotateX(0deg);
    border: none;
    outline: none;
    z-index: 2;
    margin-top: 20px;
  }


  .notification-ul li a {
    display: flex;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    background: #ffffff;
    color: #009d4d;
    font-weight: 700;
    border-bottom: 1px solid rgba(0,0,0,.2);
    transition: .5s;
    align-items: center
  }

    .notification-ul li a:hover {
      background: #e1e2e3;
      border-radius: 15px;
    }

    .notification-ul li a img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px
    }

  .notification-ul .notification-time {
    margin-top: 5%
  }

.soDuVi {
  font-size: 2rem;
  color: white;
  margin-left: 2rem;
}
/*start hero*/
.hero{
  width: 100%;
  height:100vh;
  background: url("../images/banner-bg-1.png");
  background-size:cover;
  position:relative;
}
.hero::after{
  content:'';
  position:absolute;
  width:inherit;
  height:inherit;
  top: 0;
  left:0;
}
.banner-shape {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 45%;
  left: 0;
}
/*end hero*/
/*Apply styles after scroll*/
.scrolling-active {
  background-color: #693ff5;
  box-shadow: 0 5px 1rem rgba(0,0,0,.1);
}
.scrolling-active .nav{
  height: 6.5rem;
}
/*Apply styles after scroll end*/
/*start body-layout*/
.body-layout {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
}
.form-auction {
  width: 50%;
  height: 250px;
  margin: auto;
  background: white;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 13px rgb(102 109 163 / 65%);
}
.auction-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
}
.auction-item-2 {
  width: 27%;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 5px #9cb9fb82;
  position: relative;
}
.auction-thumb img {
  display: block;
  margin: auto;
  border-radius:10px;
}
.rating, .rating:hover {
  color: #ff7800;
}
  .rating .fa-star {
    font-size: 20px;
    position: absolute;
    right: 10%;
    top: 6%;
  }
.bid .fa-gavel {
  transform: rotate( 270deg);
  position: absolute;
  text-align: center;
  bottom: 50%;
  right: 10%;
  font-size: 20px;
  font-weight: 600;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: -webkit-linear-gradient( 135deg, #b122e6 0%, #ff63de 100%);
}
.title a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin-left: 25px;
}
.bid-area {
  width: 90%;
  margin: auto;
}
.bid-amount {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  padding: 10px 0;
  border-bottom: 2px dotted #deddf5;
  border-top: 2px dotted #deddf5;
}
  .bid-amount .icon .fa-gavel {
    transform: rotate( 270deg);
    font-size: 35px;
    color: #2cbb44;
  }
  .bid-amount .icon .fa-dollar-sign {
    font-size: 35px;
    color: red;
  }
.amount-content .current {
  color: #43b055;
  font-size: 14px;
}
.amount-content .amount{
  font-size:20px;
}
.countdown-area {
  margin:10px;
  display: flex;
  justify-content: space-around;
}
  .countdown-area .countdown #bid_counter26 {
    font-size: 16px;
    text-shadow: 0px 5px 3px rgb(245 49 127 / 20%);
    color: #eb0082cc;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #eb0082cc;
  }
  .countdown-area .total-bids {
    color: #43b055;
    font-size:16px;
  }

.custom-button {
  background: -webkit-linear-gradient( 90deg, #3da9f5 0%, #683df5 100%);
  box-shadow: -1.04px 4.891px 20px 0px rgb(69 49 183 / 50%);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: 20px;
  display: inline-flex;
  width: 250px;
  height: 50px;
  margin-top: 3px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
  .custom-button:hover {
    text-decoration: none;
    color: white;
  }

/*end body layout*/
/*footer*/
footer h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2.5rem;
}

footer .title-footer h5 {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 1rem;
}

footer button {
  padding: 0.5rem 0;
  border: none;
  background-color: white;
  font-size: 1.2rem;
  border-radius: 15px;
  margin-bottom: 5px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}