body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-size: 12px;
}

/* Navbar */
.navbar {
    background-color: #FF985E;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center
}

.dangXuat {
    left: 70%;
}

.dropdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.manage {
    position: relative;
    width: 200px;
    height: 60px;
    font-size: 1.3rem;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

    .manage:focus {
        outline: none;
    }

ul {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 15%;
    background: #ccc;
    transform-origin: top;
    transform: perspective(100px) rotateX(-90deg);
    transition: .5s;
}

    ul.active {
        transform: perspective(100px) rotateX(0deg);
        border: none;
        outline: none;
        z-index: 2;
    }

    ul li {
        list-style: none;
    }

        ul li a {
            display: block;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            background: #262626;
            color: #fff;
            border-bottom: 1px solid rgba(0,0,0,.2);
            transition: .5s;
        }

            ul li a:hover {
                background: #2196f3;
            }
/*footer*/
footer h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 2.5rem;
}

footer .title-footer h5 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1rem;
}

footer button {
    padding: 0.5rem 0;
    border: none;
    background-color: white;
    font-size: 1.2rem;
    border-radius: 15px;
    margin-bottom: 5px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.body-content {
    background: #f2f2f2;
    min-height: 90vh;
    position: absolute;
    min-width: 98.9vw;
    top: 10%;
}
/*Start Home*/
.bg-home {
    min-height: 90vh;
    padding-top: 3%;
}

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-item {
    border: 1px solid #0000001f;
    width: 70%;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: #6e6e6e57 5px 5px 10px 0px;
    margin-bottom: 2rem;
}

.home-item {
    cursor: pointer;
    color: black;
    transform: translateY(10%);
    transition: transform .5s ease;
}

    .home-item:hover {
        text-decoration: none;
        transform: translateY(0);
    }
/*End Home*/

/*start General*/
.header-list-view {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 3rem;
    margin: 3rem;
}

.dl-horizontal dt,
.dl-horizontal dd,
.dl-horizontal dd a {
    font-size: 16px;
}

.bottom-function-button {
    bottom: 0;
    float: none;
    clear: both;
    position: relative;
}
/*end General*/
/* start Manage user*/
.manage-user {
    overflow: auto;
    background: white;
    min-height: 85vh;
    padding: 2rem;
    position: relative;
    margin: 2rem 0;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px #c8c4c46e;
}
/*#CheckDefault {
    font-size: 1.2rem;
    width: 25px;
    height: 25px;
    margin-left: 0;
    margin-top: 0;
}*/
input[type='checkbox'] {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #555;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}

.table td, .table th {
    border-top: none;
    font-size: 16px;
}

    .table td a, .table th a {
        font-size: 16px;
    }

table.table {
    text-align: center;
}

i.fas.fa-eye::before {
    font-size: 25px;
    color: #0015FF;
    margin-right: 0.6rem;
}

i.fas.fa-pen-alt::before {
    font-size: 25px;
    color: #FF7700;
}
/*.table-title {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-content: center;
}*/
#bth-manage {
    font-weight: 600;
    background: linear-gradient( 150deg, #006ef6, #3ac1f4);
    border-radius: 30px;
    font-size: 1.5rem;
    width: 250px;
    margin-right: 10px;
    padding: 0.7rem;
    border: none;
}

.search-for {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-manage-user {
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
}

    .search-manage-user input[type=text] {
        font-size: 1.5rem;
        font-weight: 600;
        height: 4rem;
        line-height: 4rem;
        padding: 1rem 2rem;
        border-radius: 10px;
    }

.btn-search i, .btn-redo i {
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-search, .btn-redo {
    height: 4rem;
    width: 100px;
    border-radius: 50px;
    margin-left: 20px;
}

.btn-search {
    background: #00ff43;
    color: white;
}

.btn-redo {
    background: #ce6dff;
    color: white;
}

#btn-delete {
    cursor: pointer;
    font-weight: 600;
    background: #FF4040;
    border-radius: 30px;
    font-size: 1.5rem;
    width: 150px;
    margin-right: 10px;
    padding: 0.7rem;
    border: none;
    color: white;
}

#btn-back {
    cursor: pointer;
    font-weight: 600;
    background: #95A2F6;
    border-radius: 30px;
    font-size: 1.5rem;
    width: 150px;
    margin-right: 10px;
    padding: 0.7rem;
    border: none;
    color: white;
}

#btn-enable-user {
    cursor: pointer;
    font-weight: 600;
    background: #06DC94;
    border-radius: 30px;
    font-size: 1.5rem;
    width: 150px;
    margin-right: 10px;
    padding: 0.7rem;
    border: none;
    color: white;
}
/* end Manage user*/
/* start Chi tiết */
.column-1 {
    float: left
}

    .column-1.right {
        width: 40%
    }

    .column-1.left {
        width: 60%
    }

.detail-info-view {
    margin-left: 5%;
    margin-right: 5%;
}
/* end Chi tiết */
